<div class='message-card'>
  <div class='header pull-right'><%= message.creation %></div>
  <strong><%= message.user.username %>:(<%= message.user.dialects %>)</strong>
  <p><%= message.body %></p>
</div>
